@import url("./normalize.css");
@import url("./foundation.css");
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 14px; }

a {
  text-transform: none;
  text-decoration: none;
  color: #fff; }

.clear {
  clear: both; }

.button {
  border-radius: 3px;
  padding: 14px 36px;
  text-align: center;
  cursor: pointer;
  width: 46%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .button:hover {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s; }
  .button.bg {
    background: #8b2016;
    border: solid 1px #8b2016;
    color: #fff;
    float: right;
    margin-left: 4%; }
    .button.bg:hover {
      border: solid 1px #49110c;
      background: #49110c; }
  .button.nobg {
    border: solid 1px #fff;
    float: left; }
    .button.nobg:hover {
      background: #fff;
      color: #111; }

.button_containers {
  padding: 0 20%;
  margin: 0 auto; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em;
  font-weight: 100; }

h3 {
  font-size: 1em; }

.github-image {
  position: absolute;
  top: 0;
  right: 0;
  border: 0; }

#skeleton {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  #skeleton.hidden {
    opacity: 0;
    z-index: -1;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }
  #skeleton > div:nth-child(2n+0) {
    box-shadow: inset 0px 1px 4px #000; }
  #skeleton > div#first-div {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 200px;
    -webkit-background-size: cover;
    background-size: cover;
    background: url(../images/first-div.jpg) fixed center top no-repeat;
    background-color: #fff;
    background-repeat: no-repeat; }
    #skeleton > div#first-div h2 {
      margin-bottom: 50px; }
    #skeleton > div#first-div a div.size {
      font-size: 0.7em;
      color: #000;
      font-weight: 900;
      margin-top: 3px; }
  #skeleton > div#second-div {
    color: #49110c;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background: #e3e3e3; }
    #skeleton > div#second-div h1 {
      margin-bottom: 40px; }
  #skeleton > div#third-div {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 120px;
    background: #3b767a;
    /* Old browsers */ }
    #skeleton > div#third-div h1 {
      margin-bottom: 40px; }
  #skeleton > div#fourth-div {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
    background: #ad4b42; }
    #skeleton > div#fourth-div h2 {
      margin-top: 50px;
      margin-bottom: 50px; }
  #skeleton > div#fifth-div, #skeleton > div#node-ready {
    color: #111;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
    background: #fff; }
    #skeleton > div#fifth-div h2, #skeleton > div#node-ready h2 {
      margin-top: 50px;
      margin-bottom: 50px; }
    #skeleton > div#fifth-div .button, #skeleton > div#node-ready .button {
      float: none;
      margin: 0 auto; }
  #skeleton > div#node-ready {
    background: #0f5373;
    color: #fff; }

#documentation-div {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  background: #fff; }
  #documentation-div.hidden {
    opacity: 0;
    z-index: -1;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }
  #documentation-div .top-panel {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #0f5373;
    box-shadow: inset 0px 1px 4px #000; }
    #documentation-div .top-panel h2 {
      margin-bottom: 50px; }
    #documentation-div .top-panel a div.size {
      font-size: 0.7em;
      color: #000;
      font-weight: 900;
      margin-top: 3px; }
  #documentation-div .content {
    line-height: 2em; }
    #documentation-div .content h2 {
      font-weight: 900;
      margin-top: 20px;
      margin-bottom: 20px; }
    #documentation-div .content h3 {
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px; }
    #documentation-div .content h4 {
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px; }
    #documentation-div .content hr {
      margin-top: 30px;
      margin-bottom: 30px; }
    #documentation-div .content .code {
      box-shadow: 0px 0px 2px #666;
      padding: 20px;
      background: #e3e3e3;
      line-height: 0.9em;
      font-size: 0.8em; }
    #documentation-div .content .link-container {
      margin: 0 auto;
      text-align: center; }
      #documentation-div .content .link-container .button {
        float: none;
        margin: 0 auto; }
        #documentation-div .content .link-container .button.blue {
          border: solid 1px #0f5373;
          background: #0f5373; }

/*# sourceMappingURL=style.css.map */
